src/*~
*~
doc/html
doc/latex
*Makefile*
*.orig
.*.swp
#*
*#*
CMake/common
FiReS
ShiFT
*compile_commands.json*
*plist
*ninja*
Lexis*
ZeroEQ*
ZeroBuf*
Servus*
httpxx*
gmrvlex*
Brion*
nsol*
Debug*
Release*
Lunchbox*
MVDTool*
vmmlib*
