src/*~
*~
doc/html
doc/latex
*Makefile*
*.orig
.*.swp
#*
*#*
FiReS
ShiFT
*compile_commands.json*
*plist
*ninja*
Lexis*
ZeroEQ*
ZeroBuf*
Servus*
httpxx*
gmrvlex*
Brion*
nsol*
Debug*
Release*
Lunchbox*
MVDTool*
vmmlib*
scoop*
Keyv
Pression
Pydoxine
cppnetlib
commonsrc
HighFive*
acuterecorder*
